.f-text {
  box-sizing: border-box;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.6em;
	color: #555;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075)
}

.f-medium-size {
	width: 15em;
}