.login-bg {
	background-color: #0A3A4C;
	height: 100%;
	width: 100%;
	padding: 2em;
	box-sizing: border-box;
}



.login-bd {
	width: 600px;
	height: 260px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -135px 0px 0px -300px;
}

.login-bd h2 {
	color: #fff;
	font-weight: normal;
	margin: 0.5em 0;
	padding-bottom: .5em;
	font-size: 120%;
	letter-spacing: .1em;
}






