<div class="login-bg">
    <img class="img-sponsor" src="images/consejeria-logo.png" />    

    <div class="login-bd">
        <img src="images/logo-diraya.png" />
        <h2>Vacunas 6.0</h2>
        <form name="frmLogin" novalidate>
            <div class="grid">
                <div class="cell">
                    <input name="user" ng-model="user" required
                    class="f-text f-medium-size" type="text" placeholder="Identificador" />
                </div>
                <div class="cell">
                    <input name="password" ng-model="password" required
                    class="f-text f-medium-size " type="password" placeholder="Contraseña" />
                </div>
                <div class="cell">
                    <button ng-click="login()"
                    class="button button-rounded button-primary">Iniciar sesión</button>
                </div>
            </div>
            <p class="alert alert-error" ng-show="msgError != ''">{{msgError}}</p>
        </form>
    </div>
</div>